@font-face {
  font-family: 'WYekan';
  src: url('../fonts/WebYekan.eot?#iefix') format('embedded-opentype'),
  url('../fonts/WebYekan.woff') format('woff'),
  url('../fonts/WebYekan.ttf') format('truetype'),
  url('../fonts/WebYekan.svg') format('svg');
}

@font-face {
  font-family: 'WYekan';
  src: url('../fonts/WebYekan.eot?#iefix') format('embedded-opentype'),
  url('../fonts/WebYekan.woff') format('woff'),
  url('../fonts/WebYekan.ttf') format('truetype'),
  url('../fonts/WebYekan.svg') format('svg');
  font-weight: bold
}

.navbar-nav {
  padding-right: 0;
}

.ui.card > .content > .header, .ui.cards > .card > .content > .header, .ui.button {
  font-family: WYekan, Tahoma;
}

html {
  direction: rtl;
}

body {
  padding: 0;
  margin: 0;
  background: #f1f1f1;
  color: #1B1B1B;
  font-size: 16px;
  font-family: WYekan, Tahoma;
  text-align: right;
}

a {
  color: #1B1B1B;
  text-decoration: none;
}

header {
  margin: 10px 50px;
  @media(max-width: 767px) {
    margin: 10px;

  }

  .navbar-toggler {
    font-size: 2em;
    margin-top:0.1em;
    outline: 0;
  }
}

header .logo {
  float: right;
}

header nav i {
  color: #C81D11;
}

header .logo img {
  @media(min-width: 768px) {
    height: 125px;
  }
  @media(max-width: 767px) {
    height: 50px;
  }

}

header #searchForm {
  float: left;
  border-bottom: 1px solid #a0a0a0;
  margin: 47px 0 0 20px;
}

header #searchForm input[type=text] {
  background: none;
  border: none;
  font-family: WYekan, Tahoma;
  font-size: 1.1em;
  padding: 0.1em;
  outline: none;
}

.hamband-top-menu {
  margin: 0;
  @media(min-width: 768px) {
    padding: 0 70px;
  }
  border-top: 1px solid #dde1e1;
  border-bottom: 1px solid #dde1e1;


  ul {
    list-style: none;
    font-size: 1.1em;

    li {

      &:first-child a {
        @media(min-width: 768px) {
        border-right: 1px solid #dde1e1;
        }
      }

      .nav-link {
        display: block;
        padding: 20px;
        @media(min-width: 768px) {
          border-left: 1px solid #dde1e1;
        }
        @media(max-width: 767px) {
          padding-right: 25px;
          padding-left: 25px;
        }

        &:hover {
          background: #f7f7f7;
        }

        .fas {
          padding-left: 5px !important;
        }
      }

      &.active a {
        background: #00A491;
        color: #fff;
        &:hover {
          background: #00b4a0;
        }
      }
    }

  }
}


#home-slideshow .lightSlider {
  padding: 0 !important;
}


#home-slideshow {
  clear: both;
}

.blog--posts {
  .card {
    margin-bottom: 15px;
  }
}

.events {
  .card {
    margin: 0 0 10px 10px;
  }
}